body{
    background-color: aqua;
}
h1{
    background-color: green;
}
.trial1{
    background-color: blue;
    color: rosybrown;
}
#trial{
    background-color: bisque;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 1cm;
    letter-spacing: 1cm;
}