body{
    /* background-color: aqua; */
}
h1{
    /* background-color: green; */
}
.trial1{
    /*background-color: blue;
    */color: rosybrown;
    /*border-width: 1px;
    border-color: black;
    border-style: solid;
    */border: 5px solid red;
    /* padding */
    padding-left: 20px;
    padding-top: 5px;
    /* margin  */
    padding-left: 15px;
    margin-top: 5px;
    border-radius:15px ;
    -webkit-border-radius:15px ;
    -moz-border-radius:15px ;
    -ms-border-radius:15px ;
    -o-border-radius:15px ;
}
#trial{
    /* background-color: bisque; */
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 1cm;
    letter-spacing: 1cm;
}